.empty,
.start,
.finish,
.visited {
  width: 100%;
  aspect-ratio: 1 / 1;
  transition: all 0.3s ease;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

/* Background colors */
.empty {
  background-color: #f8e1d9;
}

.visited {
  background-color: #f09d9d;
}

.start {
  background: linear-gradient(0deg, #f09d9d, #e99292, #e28787, #d87979, #ce6767);
  background-size: 400% 400%;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .2);
  -webkit-animation: cell-anim 3s ease infinite;
  -moz-animation: cell-anim 3s ease infinite;
  animation: cell-anim 3s infinite;
}

.finish {
  background: linear-gradient(0deg, #99e4c1, #88d8b3, #7cd1a9, #6fc99f, #53ad83);
  background-size: 400% 400%;
  -webkit-animation: cell-anim 3s ease infinite;
  -moz-animation: cell-anim 3s ease infinite;
  animation: cell-anim 3s infinite;

  /* background-image: url('../../../public/finish_line.gif');
  background-position: center; 
  background-repeat: no-repeat;
  */
}

@-webkit-keyframes cell-anim {
  0% {
    background-position: 97% 0%
  }

  50% {
    background-position: 4% 100%
  }

  100% {
    background-position: 97% 0%
  }
}

@-moz-keyframes cell-anim {
  0% {
    background-position: 97% 0%
  }

  50% {
    background-position: 4% 100%
  }

  100% {
    background-position: 97% 0%
  }
}

@keyframes cell-anim {
  0% {
    background-position: 97% 0%
  }

  50% {
    background-position: 4% 100%
  }

  100% {
    background-position: 97% 0%
  }
}

.wall {
  position: absolute;
  background-color: var(--bg-color);
  z-index: 3;
}

.wall.top {
  top: -5%;
  left: -5%;
  right: 0;
  width: 110%;
  border-radius: 5% 5% 0 0;
}

.wall.right {
  top: -5%;
  right: -5%;
  bottom: 0;
  border-radius: 0 5% 5% 0;
}

.wall.bottom {
  left: -5%;
  right: 0;
  bottom: -5%;
  width: 110%;
  border-radius: 0 0 5% 5%;
}

.wall.left {
  top: -5%;
  left: -5%;
  bottom: 0;
  border-radius: 5% 0 0 5%;
}

.corner {
  position: absolute;
  background-color: var(--bg-color);
  border-radius: 50%;
  z-index: 4;
}

.top-left {
  top: -6%;
  left: -6%;
}

.top-right {
  top: -6%;
  right: -6%;
}

.bottom-left {
  bottom: -6%;
  left: -6%;
}

.bottom-right {
  bottom: -6%;
  right: -6%;
}