@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
  box-sizing: border-box;
}

.mazeRandom {
  position: absolute;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}

.mazeRandom-container {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

.mazeRandom-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}

.mazeRandom-container:hover::after {
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}


.mazeRandom+label {
  position: relative;
  z-index: 0;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 1;
  height: 40px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 220px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  cursor: pointer;
  color: rgb(99, 99, 99);
  text-shadow: 1px 1px 0 rgba(99, 99, 99, .2);
  background-image: url('../../../public/button_default.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mazeRandom+label .uil {
  font-size: 15px;
  margin-left: 10px;
  transition: transform 200ms linear;
}

.uil {
  font-size: 22px;
}