.maze-grid {
  display: grid;
  width: 100%;
  padding: 10px;
  min-width: 600px;
  box-sizing: border-box;
}

.maze-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: var(--bg-color);
}

